body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}
section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#hero {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.hero-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.hero-text {
    flex: 1; /* Take up remaining space */
    text-align: justify; /* Align text both left and right */
}

.hero-image {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Align content to the right */
}

.hero-image img {
    max-width: 100%; /* Ensure the image scales down if it's too large */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

p {
    font-family: Corbel, serif;
}

.heading {font-family: Georgia, serif}

.publication-list {
    display: flex;
    flex-direction: column;
}
.publication-item {
    display: flex;
    align-items: flex-start;
}
.status {
    width: 120px; /* Adjust width as needed */
    font-weight: bold;
    flex-shrink: 0;
}
.details {
    flex-grow: 1;
}

.right-align {
    text-align: right;
    display: block;
    font-family: Corbel, serif;
}

embed {
    display: block;       /* Ensures the embed is treated as a block-level element */
    margin: 0 auto 20px;  /* Adds spacing below the PDF viewer */
    width: 100%;          /* Responsive width */
    height: 600px;        /* Fixed height for the PDF viewer */
}

.center-link {
    text-align: center;   /* Centers the download link horizontally */
    margin-top: 20px;     /* Adds additional spacing above the link if needed */
}

a.custom-link {
    color: #666666; 
    text-decoration: none; 
}
a.custom-link:visited {
        color: #666666; 
    }
a.custom-link:hover {
    text-decoration: underline; /* Optional: underline on hover */
}

@media (max-width: 768px) {
    embed {
        width: 100%;
        height: 500px;
    }
}
