body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}
section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#hero {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.hero-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.hero-text {
    flex: 1; /* Take up remaining space */
    text-align: justify; /* Align text both left and right */
}

.hero-image {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Align content to the right */
}

.hero-image img {
    max-width: 100%; /* Ensure the image scales down if it's too large */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

/* Mobile responsive styles */
@media only screen and (max-width: 768px) {
    .hero-content {
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center-align both image and text */
        padding: 0 20px; /* Add padding on the sides for better spacing */
    }

    .hero-text, .hero-image {
        width: 100%; /* Both image and text take full width */
        text-align: center; /* Center-align text */
        margin: 0; /* Remove any default margin */
        padding: 10px 0; /* Add vertical padding for spacing */
    }

    .hero-image img {
        max-width: 80%; /* Make the image 80% of the container width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%; /* Optional: Rounded corners */
        margin-top: 20px; /* Add some space above the image */
    }
}

p {
    font-family: Corbel, serif;
}

.heading {font-family: Georgia, serif}

.publication-list {
    display: flex;
    flex-direction: column;
}
.publication-item {
    display: flex;
    align-items: flex-start;
}
.status {
    width: 120px; /* Adjust width as needed */
    font-weight: bold;
    flex-shrink: 0;
}
.details {
    flex-grow: 1;
}

.right-align {
    text-align: right;
    display: block;
    font-family: Corbel, serif;
}

a.custom-link {
    color: #666666; 
    text-decoration: none; 
}
a.custom-link:visited {
        color: #666666; 
    }
a.custom-link:hover {
    text-decoration: underline; /* Optional: underline on hover */
}
